<ng-container *ngIf="layout === 'block'">
  <form [formGroup]="dynamicForm" (ngSubmit)="submit()">
    <formly-form [form]="dynamicForm" [fields]="formFields" [model]="model"></formly-form>
    <div class="buttons">
      <button type="submit" *ngIf="submitText !== null" [status]="submitStatus" nbButton hero
        [nbSpinner]="submitLoading" nbSpinnerStatus="primary" nbSpinnerSize="large"
        nbSpinnerMessage="">{{submitText}}</button>
      <button type="button" *ngIf="resetText !== null" [status]="resetStatus" nbButton outline
        (click)="reset()">{{resetText}}</button>
    </div>
  </form>
</ng-container>


<ng-container *ngIf="layout === 'inline'">
  <form [formGroup]="dynamicForm" (ngSubmit)="submit()">
    <formly-form [form]="dynamicForm" [fields]="formFields" [model]="model"></formly-form>
    <div class="buttons">
      <button type="submit" *ngIf="submitText !== null" [status]="submitStatus" nbButton hero>{{submitText}}</button>
      <button type="button" *ngIf="resetText !== null" [status]="resetStatus" nbButton outline
        (click)="reset()">{{resetText}}</button>
    </div>
  </form>
</ng-container>
